.working-img {
  position: absolute;
  margin-top: 100px;
  max-width: 56%;
  height: 33rem;
  right: 33%;
}

.heading {
  z-index: 1;
}

.name-span {
  color: #ff4d5a;
}

.page-no {
  position: absolute;
  overflow-y: hidden;
  right: 3rem;
  bottom: 0.1rem;
  font-size: 10rem;
  color: #ff4d5a;
  font-family: "Abril Fatface";
}

.page-number p {
  line-height: 1.1;
  text-shadow: 0 10px 30px rgb(2 11 22 / 50%);
  word-wrap: break-word;
  white-space: normal;
}

.arrow-upp {
  position: absolute;
  margin-top: 100px;
}

.showing-btn {
  position: absolute;
  margin-top: 550px;
  margin-left: 150px;
  left: 0;
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  background: #ff4d5a;
  line-height: 1;
  font-weight: 200;
  padding: 18px 32px;
  border-radius: 50px;
  transition: 0.3s;
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: mySecondFont;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .heading2 {
    z-index: 2;
  }
}

@media (max-width: 400px) {
  .working-img {
    margin-top: 110px;
    max-width: 350px;
    height: 200px;
  }
  .page-no {
    font-size: 5rem;
    bottom: 18rem;
  }
  .showing-btn {
    padding: 9px 16px;
    margin-top: 350px;
    margin-left: 120px;
  }
  .fa-angle-double-up {
    margin-left: 40%;
  }
}
